@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,700&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    display:flex;
    flex-direction:column;
    min-height: 100vh; 
    font-family:'Roboto', sans-serif;
    justify-content:space-between;
}

ul {
    list-style-type:none;
    display:flex;
    font-size:18px;
    color:#E5E7EB;
    gap:15px;
}

a {
    text-decoration:none;
    color:#E5E7EB;
}

h1, h3, .call-action p {
    color:#F9FAF8;
}

h1 {
    font-weight:900;
    font-size: 48px;
}

h2 {
    text-align:center;
    font-size:36px;
    font-weight:900;
    color:#1F2937;
} 

header {
    background-color:#1F2937;
    padding-top:10px;
}

.hero img {
    width:500px;
    height:300px;
}

.info img {
    width:206.8px;
    height:252px;
}

footer {
    display:flex;
    background-color: #1F2937;
    justify-content:center;
    align-items:center;
    color:#E5E7EB;
    font-size:18px;
    padding:25px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    width:120px;
    font-size:16px;
    background-color:#3882F6;
    color:#F9FAF8;
}

.hero-text button {
    border: 0px;
    margin-top:8px;
    font-size:18px;
    font-weight:700;
}

.call-action button {
    border: 3px solid #F9FAF8;
    font-size:18px;
    font-weight:700;
}

blockquote {
    font-size:36px;
    font-weight:100;
}

blockquote, figcaption{
    color:#1F2937;
    width:800px;
}

figcaption{
    margin-left:auto;
    font-weight:700;
}

.logo-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 360px;
}

.logo-nav img{
    width:60px;
    height:60px;
}

.hero {
    background-color:#1F2937;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:200px;
    padding: 80px 300px;
    flex:1;
}

.hero-text {
    width:400px;
} 

.hero-text p {
    color:#E5E7EB;
    font-size:18px;
}

 
.Posings {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 50px;
    flex:1;
}

.four-info {
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    margin-top:40px;
}

.info p {
   color:#1F2937;
   text-align:center;
   font-size:18px;
} 

.info img {
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.quote {
    background-color:#E5E7EB;    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 80px 0px; 
    flex:1;
    gap:20px;
}


.call {
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    padding:80px 300px;
}

.call-action {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    background-color:#3882F6;
    border-radius:10px;
    padding:50px 125px;
    gap:200px;
    flex:1;
}

.call-text {
    width:400px;
    font-size:18px;
}
