* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    display:flex;
    flex-direction:column;
    min-height: 100vh; /*100% viewport*/
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type:none;
    display:flex;
    font-size:18px;
    color:#E5E7EB;
}

a {
    text-decoration:none;
    color:#E5E7EB;
}

h1, h3, section p {
    color:#F9FAF8;
}

h2 {
    text-align:center;
}

header {
    background-color:#1F2937;
}

footer {
    display:flex;
    background-color: #1F2937;
    justify-content:center;
    align-items:center;
    color:#E5E7EB;
    font-size:18px;
    flex: 0 1 100px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    width:100px;
}

main {
    display:flex;
    flex-direction:column;
}

blockquote {
    font-size:24px;
    font-weight:100;
    color:#1F2937;
    max-width:600px;
}

section {
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 50px 0px;
}
.logo-nav {
    display:flex;
    justify-content:space-between;
}

.hero {
    display:flex;
    flex-direction:column;
    height:250px;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;
}

.four-info {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.info {
    text-align:center;
}

.info img {
    border-radius: 10px;
}

.quote {
    background-color:#E5E7EB;    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.call-action {
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-content:center;
    background-color:#3882F6;
    height:100px;
    border-radius:5px;
    padding: 25px 200px;
    column-gap:100px;
}

